@charset "utf-8";

/* recipe-detail. css */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

h1 {
    font-size: 3rem;
    padding: 30px 0;
    text-align: center;
    margin-bottom: 30px;
}

div.detail-content {
    margin-bottom: 150px;
}

.detail-content .title {
    text-align: center;
    margin-bottom: 60px;
}

.detail-content .title h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.detail-content .title .des {
    font-size: 1.4rem;
    margin-bottom: 40px;
}

.detail-content .title .keyword {}

.detail-content .title .keyword span {
    display: inline-block;
    font-size: 18px;
    background-color: rgb(123, 101, 72);
    padding: 6px 12px;
    margin-right: 6px;
    font-weight: 600;
    color: white;
    border-radius: 30px;
}

.detail-content .main-img {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 80px;
}

.detail-content .main-img img {
    width: 100%;

}

.detail-content .button {
    border: 3px solid #773526;
    font-size: 18px;
    width: 200px;
    height: 50px;
    overflow: hidden;
    border-radius: 50px;
    margin: 0 auto;
    color: #773526;
}

.detail-content .button:hover {
    background-color: #773526;
     color: #fff;
}

.detail-content .button a.back {

    text-align: center;
    line-height: 50px;
    
    font-weight: 500;
    display: block;
    background-color: rgba(222, 184, 135, 0.774);
}